<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'diemtb.css' %}">
    </head>
    <body>
    <form method="post">
        <h2><p><font color="black" size="3" face="arial">Nhập vào điểm Toán</font></p> </h2>
<input type="number" name="diemtoan" min="0" max="10" step="0.1" value="00">
        {% if data %}
        <label style="padding-left: 100px;"><b>Điểm Toán là: {{data.diemtoan}}</b></label>
        {% endif %}
<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Văn</font></p> </h2>
<input type="number" name="diemvan" min="0" max="10" step="0.1" value="00">
        {% if data %}
        <label style="padding-left: 100px;"><b>Điểm Văn là: {{data.diemvan}}</b></label>
        {% endif %}

<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Anh</font></p> </h2>
<input type="number" name="diemanh" min="0" max="10" step="0.1" value="00">
        {% if data %}
        <label style="padding-left: 100px;"><b>Điểm Anh là: {{data.diemanh}}</b></label>
        {% endif %}

<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Lý</font></p> </h2>
<input type="number" name="diemly" min="0" max="10" step="0.1" value="00">
        {% if data %}
        <label style="padding-left: 100px;"><b>Điểm Lý là: {{data.diemly}}</b></label>
        {% endif %}


<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Hóa</font></p> </h2>
<input type="number" name="diemhoa" min="0" max="10" step="0.1" value="00">
        {% if data %}
        <label style="padding-left: 100px;"><b>Điểm Hóa là: {{data.diemhoa}}</b></label>
        {% endif %}
 <h2><p><font color="black" size="3" face="arial">Nhập vào điểm Sinh</font></p> </h2>
<input type="number" name="diemsinh" min="0" max="10" step="0.1" value="00">
        {% if data %}
         <label style="padding-left: 100px;"><b>Điểm Sinh là: {{data.diemsinh}}</b></label>
        {% endif %}
<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Giáo dục công dân</font></p> </h2>
<input type="number" name="diemgdcd" min="0" max="10" step="0.1" value="00">
        {% if data %}
        <label style="padding-left: 100px;"><b>Điểm Giáo dục công dân là: {{data.diemgdcd}}</b></label>
        {% endif %}
<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Công Nghệ</font></p> </h2>
<input type="number" name="diemcongnghe" min="0" max="10" step="0.1" value="00">
        {% if data %}
        <label style="padding-left: 100px;"><b>Điểm Công Nghệ là: {{data.diemcongnghe}}</b></label>
        {% endif %}
<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Sử</font></p> </h2>
<input type="number" name="diemsu" min="0" max="10" step="0.1" value="00">
        {% if data %}
            <label style="padding-left: 100px;"><b>Điểm Sử là: {{data.diemsu}}</b></label>
        {% endif %}
<h2><p><font color="black" size="3" face="arial">Nhập vào điểm Địa</font></p> </h2>
<input type="number" name="diemdia" min="0" max="10" step="0.1" value="00">
        {% if data %}
            <label style="padding-left: 100px;"><b>Điểm Địa là: {{data.diemdia}}</b></label>
        {% endif %}
        <br>
        <br>
        {% if data %}
        <label style="padding-left: 200px;"><font color="red" size="4" face="arial"><b>Điểm trung bình là: {{diemtrungbinh}}</b></label>
        {% endif %}
        <br>
        <br>
        <table border="1" style="float:center" >
                <tr>
                  
                </tr>
            
                <tr>
                    <th>Điểm Địa </th>
                    <td>{{data.diemdia}}</td>
                    
                </tr>
                <tr>
                    <th>Điểm Văn</th>
                    <td>{{data.diemvan}}</td>
                    
                </tr>
                <tr>
                    <th>Điểm Toán</th>
                    <td>{{data.diemtoan}}</td>
                    
                </tr>
                <tr>
                        <th>Điểm Anh</th>
                        <td>{{data.diemanh}}</td>
                        
                </tr>
                <tr>
                        <th>Điểm Lý</th>
                        <td>{{data.diemly}}</td>
                        
                </tr>
            </table>
<input  type="submit"> 
</form>
</p>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>