<p>
</p><form method="post" >
    
        <b>My Short Term Goals<b><br>
        <br>
        1.<input type="text" name="shorttermgoal1">
        <input type="date">
        <input type="checkbox"> 
        <br><br>
        2.<input type="text" name="shorttermgoal2">
        <input type="date">
        <input type="checkbox"> 
        <br><br>
        3.<input type="text" name="shorttermgoal3">
        <input type="date">
        <input type="checkbox"> 
        <br><br>
        4.<input type="text" name="shorttermgoal4">
        <input type="date">
        <input type="checkbox"> 
        <br><br>
        5.<input type="text" name="shorttermgoal5">
        <input type="date">
        <input type="checkbox"> 
        <br><br>
       <b> My Long Term Goals:<b><br>
        <br>
        1.<input type="text" name="longtermgoal1">
        <input type="date"  name = 'date1'>
        <input type="checkbox"> 
        <br><br>
        2.<input type="text" name="longtermgoal2">
        <input type="date"  name = 'date2'>
        <input type="checkbox"> 
        <br><br>
        3.<input type="text" name="longtermgoal3">
        <input type="date"  name = 'date3'>
        <input type="checkbox"> 
        <br><br>
        4.<input type="text" name="longtermgoal4">
        <input type="date"  name = 'date4'>
        <input type="checkbox"> 
        <br><br>
        5.<input type="text" name="longtermgoal5">
        <input type="date" name = 'date5'>
        <input type="checkbox"> 
        <br><br>
        
        <br><br>
        <input type="submit">
        </form>