<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Todo-List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       

       
        <html>
<p>
</p><form method="post"> 
    
        Việc cần làm 1:<br>
        <input type="text" name="vieccanlam1">
        <input type="date">
        <input type="checkbox"> 
        <br>
        "Việc cần làm 2:"<br>
        <input type="text" name="vieccanlam2">
        <input type="date">
        <input type="checkbox"> 
        <input type="color">
        <br>
        Việc cần làm 3:<br>
        <input type="text" name="vieccanlam3">
        <input type="date">
        <input type="checkbox"> 
        <br>
        Việc cần làm 4:<br>
        <input type="text" name="vieccanlam4">
        <input type="date">
        <input type="checkbox"> 
        <br>
   
        
        <br><br>
        <input type="submit">
        </form>
</body>
</html>