<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <link rel="stylesheet" href="personal_info.css">
    <body>
      <h1 style="text-align:center;" font-size="5"><em> Thông tin cá nhân </em> </h1> 
      <form method="post">
        <b>  <label  for="firstname">Họ:</label>
        <input type="text" placeholder="Họ của bạn " name="firstname" id="firstname"><b> 
        <label for="lastname">Tên:</label>
        <input type="text" placeholder="Tên của bạn" name="lastname" id="lastname">
        <br><br>
        <b>  <label  for="lop">Lớp:</label>
        
        <input type="text"  name="lop" id="lop"><b> 
        <br><br>
        <b>  <label  for="truong">Trường:</label>
            
        <input type="text"  name="truong" id="truong"><b> 
        <p><strong>Chọn giới tính</strong></p>
    <input type="radio" name="gioitinh" value="1"> Nam<br>
    <input type="radio" name="gioitinh" value="0" checked> Nữ<br>
    <br><br>
    <label for="lang-select">Bạn sống ở đâu:</label>
    <select name="lang" id="lang-select">
        <option value="">--Nơi bạn sống--</option>
        <option value="TPHCM">TPHCM</option>
        <option value="HN">Hà Nội</option>
        <option value="CT">Cần Thơ</option>
        <option value="BD">Bình Dương</option>
        <option value="VT">Vũng Tàu</option>
        <option value="ĐT">Đồng Tháp</option>
        <option value="LA">Long An</option>
    </select>
    <br><br>
   
    <br><br>
        <input type="submit" value="Gửi">
    </form>
       
        
        <script src="" async defer></script>
    </body>
</html>