body{
    background-color: #d5e0f2;
    font-family: sans-serif;
    background-image: url('./web1/images/cloudbackground.png');
}
.intro h1{
    font-size: 40px;
}
.slogan{
    width: 350px;
}
@font-face {
    font-family:font_strong;
    src:url('../templates/web1/fonts/NVNFunkySignature-Regular.ttf') format('truetype'),
    url('../templates/web1/fonts/NVNFunkySignature-Regular.ttf') format('embedded-opentype'),
    url('../templates/web1/fonts/NVNFunkySignature-Regular.ttf') format('woff');
    font-weight:normal;
    font-style:normal;
   }
.intro h2{
    font-family: font_strong;
    position: 100px 40px;
}
.logo{
    width: 300px;
    background-image: url('./web1/images/LOGO.png');
}   
.container{
    width: 300px;
    height: 350px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center; 
}
.container h2{
    display: inline-block; 
    color: #083156;
}
.container label{
    color: #083156;
    float: left;
    padding-left: 50px;
}
.container input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
}
.container button{
    width: 210px;
    height: 40px;
    background-color: #6a8af5;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
}