body{
    background-color: #d5e0f2;
    background-repeat: no-repeat;
    font-family: sans-serif;
    background-image: url('./web1/images/cloudbackground.png'); 
    background-size:cover;  
}
a {
    color: #083156;
    font: sans-serif;
    font-size: 20px;
    text-decoration: none;
}
.intro h1{
    font-size: 40px;
}
.intro label{
    font-size: 20px;
}
.logo{
    width: 350px;
}
.intro button{
    width: 60px;
    height: 30px;
    background-color:#6a8af5 ;
    border-radius: 5px;
    border: 1px solid grey;
    float: right;
    margin-right: 20px;
    color: white;
}
.submit {
    margin-right: 10px;
}

.intro label{
    color: #969ea5;
}
.container{
    width: 420px;
    height: 280px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 20px;
    text-align: center;  
}
.container img{
    width: 150px;
}
