<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}

        <link rel="stylesheet" href="{% static 'home.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form method="post">
            <div style="position:fixed; left:1050px; top:140px;" class="imgcontainer">
              <img src="{% static 'web1/images/LOGO.png' %}" alt="Logo" class="logo">
            </div>

        <div class="intro">
            <button type="submit">Login</button>
                <button type="submit">Signup</button>
                <label style="position:fixed; left:60px;top:230px;" for="description"><b>Ứng dụng ghi chú cho phép người dùng 
                    <br>
                    lên kế hoạch cụ thể tất cả công việc, lịch học.
                    <br> 
                    Đồng thời giúp phản ánh tiến độ hoàn thành công việc.</b>
                </label>
            <div  class="intro">
              <h1 style="position:absolute; left:50px;top:150px; color:#6a8af5;"><b>DOVE</b></h1>
              <hr style="position:absolute;top:120px;" width="100%" size="2px" color="grey" />
              <h1 style="position:absolute; left:180px; top: 150px; color: #f69cb1;"><b>STUDY ASSISTANT</b></h1>
              <h1 style="position:absolute; left:50px;top:300px; color:#6a8af5;"><b>CÁC TÍNH NĂNG</b></h1>
              <h1 style="position:absolute; left:380px; top: 300px; color: #f69cb1;"><b>NỔI BẬT</b></h1>
            </div>
            <div class="function">
              
            </div>
            
            <div style="position:fixed; left:60px; top:400px;" class="container1">
                <h2>To do list</h2>
                <br>
            </div>
            <div style="position:fixed; left:550px; top:400px;" class="container1">
                <h2>Điểm trung bình</h2>
                <br>
            </div>
            <div style="position:fixed; left:1040px; top:400px;" class="container1">
                <h2>Goal</h2>
                <br>
            </div>
       
        
        <script src="" async defer></script>
    </body>
</html>