body{
    background-color: #d5e0f2;
    font-family: sans-serif;
    background-image: url('./web1/images/cloudbackground.png');

}
.logo{
    width: 250px;
}
.container{
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    text-align: center; 
    
}


.container h2{
    display: inline-block; 
    color: #083156;
}
.container label{
    color: #083156;
    float: left;
    padding-left: 50px;
}
.container input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid grey;
}
.container button{
    width: 210px;
    height: 40px;
    background-color: #6a8af5;
    border-radius: 5px;
    border: 1px solid grey;
    color: white;
}